
<h1>{{viewTitle}}</h1>

<div>

    <form action="/attendance" method="post" autocomplete="off">

        <label>Rollno</label>

        <input type="number" name="rollno">

        <label>Name</label>

        <input type="text" name="name">

        <button type="submit">Submit</button>

    </form>

</div>