.form{

    padding: 20px 20px;
    
    background-color: azure;
    
    }
    
    .form:hover{
    
       box-shadow: 2px 2px 10px 10px rgb(137, 219, 172);
       
       }
    
    input:hover{
    
       box-shadow: 2px 2px 10px 10px rgb(16, 185, 223);
       
       }
    
    input[type]{
    
       width: 100%;
    
       padding: 12px 20px;
    
       margin: 15px 0;
    
       border: 1ox solid #ccc;
    
       border-radius: 4px;
    
       box-sizing: border-box;
    
    }
    
    button {
    
       width: 100%;
    
       background-color: rgb(6, 229, 65);
    
       color: white;
    
       padding: 14px 20px;
    
       margin: 8px 0;
    
       border: none;
    
       border-radius: 4px;
    
       cursor: pointer;
    
    }
    
    button:hover{
    
       background-color: rgb(46, 144, 87);
    
    }

    h1{
        color: rgb(20, 82, 238);
    }

    h2{
        color: darkcyan;
    }

.new {

    background-color: darkgoldenrod;
    
}

.new:hover{

    background-color: darkseagreen;

}